/*
    * Full Height vertical line
    *
    * LVL1 -------- LVL2 ------|  LVL3
    *          |               |  LVL3
    *          |___ LVL2       |  LVL3
    *                             LVL3
    */
.video_list_item:after {
    content: "";
    width: 1px;
    height: 200%;
    position: absolute;
    border-left: dashed #22C55E 1px;
    left: 2.6rem;
}
.video_list_item:first-child::after {
    top: 1rem;
}
.video_list_item:last-child::after {
    height: 50%;
    top: 0rem;
}